<div class="bg-[#254936] flex flex-col lg:flex-row  justify-between w-full">
    <div class="logo ">
      <a href="#">Green Slate</a>
      <p class="text-white md:hidden">make your world better</p>
    </div>

<hr class="devider"/>
    <div class="flex flex-col lg:flex-row  justify-between text-white">
      
      <div style="display: flex; justify-content: center; gap:6px; align-items:center;" 
       class="navlinks m-2 text-[#ffffff]  px-5 py-2">
      <i class="fas fa-home"></i>
      <a  href="#">Home</a>
      </div>
      
      <div style="display: flex; justify-content: center;  gap:px;, align-items'cente;" 
      class=" navlinks m-2 text-[#ffffff] px-5 py-2  ">
      <i class="fas fa-home"></i>
      <a href="#">Scan</a>
      </div>

      <div style="display: flex; justify-content: center; gap:6px; align-items:center;"   
      class="navlinks m-2 text-[#ffffff] px-5 py-2">
      <i class="fas fa-home"></i>
      <a href="#">Recycling Map </a>
      </div>

      <div style="display: flex; justify-content: center; gap:6px; align-items:center;"
      class="navlinks m-2 text-[#ffffff]  px-5 py-2">
      <i class="fas fa-home"></i>
      <a  href="#">Community</a>
      </div>

      <div style="display: flex; justify-content: center; align-items:center;"
      class="navlinks m-2 text-[#254936] text-bolder px-7  gap-3  py-2 rounded-3xl bg-white">
      <i class="fas fa-home"></i>
      <a href="#">Profile</a>
      </div>

      
      <div style="display: flex; justify-content: center; gap:6px; align-items:center;"  class=' navlinks m-2 text-[#ffffff] px-5 py-2'>
        <i class="fas fa-home"></i>
      <a  href="#">Settings</a>
      </div>
      
    </div>

    <hr class='devider'/>
    <center class='about-greenslate'>
      <p>"GreenSlate" is a platform focused on promoting 
        sustainability and eco-friendly living.offers a starting point 
        for individuals to make positive changes in their lives 
        and be part of a larger movement towards a more sustainable world.
        </p>
       <div class='social-icons'>
          <i class="fab fa-github border border-white  rounded-full text-3xl p-2"></i>
          <i class="fab fa-twitter border border-white  rounded-full text-3xl p-2"></i>
          <i class="fab fa-facebook border border-white  rounded-full text-3xl p-2"></i>
          <i class="fab fa-instagram border border-white  rounded-full text-3xl p-2"></i>
        </div>
      </center> 
    </div>